<ion-list>
  <!-- detail view header -->
  <ion-item text-justify>

      <ruby inline>
        <h1>{{word.word}}</h1> <rt>{{word.kana}}</rt>
      </ruby>

      <h1 inline item-end>{{word.translation}}</h1>

  </ion-item>
  <!-- end detail view header -->
  <ion-item>
    <ion-buttons>
      <button ion-button outline icon-left small color="accent-color"
        (click)="showDefinitionForm()">
        <ion-icon name="md-add"></ion-icon>definition
      </button>
      <button ion-button outline icon-left small color="accent-color"
        (click)="toogleBookmark()">
        <ion-icon name="md-bookmark"></ion-icon>bookmark
      </button>
      <button ion-button outline icon-left small color="accent-color"
       (click)="showMemoForm()">
        <ion-icon name="md-attach"></ion-icon>memo
      </button>
    </ion-buttons>
  </ion-item>
  <!-- definitions lists -->
  <ion-item>
    <definition-language-group [language]="language('EN')" [definitions]="selectedWordDefs('EN')"></definition-language-group>
    <definition-language-group [language]="language('JP')" [definitions]="selectedWordDefs('JP')"></definition-language-group>
  </ion-item>
  <!-- end definitions lists -->

  <!-- tags row -->
  <ion-item class="tags">
    <ion-buttons text-center>
      <button
        *ngFor="let tag of word.tags"
        round small ion-button
        color="light" margin-left>
        {{tag.title}}
      </button>
    </ion-buttons>
  </ion-item>
  <!-- end tag row -->
 <ion-item end *ngIf="word.memo">
  <div>
    {{word.memo}}
  </div>
 </ion-item>

</ion-list>
