<!-- Generated template for the WordItemComponent component -->
<ion-item>
  <h2>
    <ruby>
      <rb>{{word.word}}</rb>
      <rt>{{word.kana}}</rt>
    </ruby>
 </h2>
  <p color="accent-color">{{word.eng_translation}}</p>

  <!-- result details icons -->
  <ion-note item-end text-right>
    <ion-icon name="md-bookmark"
      [color]="isBookmarked()"
    ></ion-icon>
    <!-- <ion-icon color="primary" name="md-checkmark"></ion-icon> -->
  </ion-note>
  <!-- /End result details icons -->
</ion-item>
