<ion-item>
  <!-- ranking details-->
  <ion-note item-left >
    <button ion-button clear
     icon-start [color]="definition.liked?'accent-color':'divider-color'"
      (click)="onLike()">
      <ion-icon name="md-thumbs-up"></ion-icon>
      <ion-badge [color]="definition.liked?'accent-color':'divider-color'">{{definition.likes || '0'}}</ion-badge>
    </button>
  </ion-note>
  <!-- end ranking details -->
  <div text-wrap>
     {{definition.content}}
  </div>
  <p margin-top color="secondary-text-color"> <b>source:</b>{{definition.source || ''}}</p>
</ion-item>
