<ion-split-pane >
  <ion-header>
    <ion-navbar>
      <button ion-button menuToggle left>
       <ion-icon name="menu"></ion-icon>
     </button>
      <ion-title>Local</ion-title>
      <ion-buttons end>
        <button ion-button icon-only large color="white"
          (click)="toogleBookmark()">
          <ion-icon name="md-bookmark"></ion-icon>
        </button>
        <button ion-button icon-only large color="white"
         (click)="showMemoForm()">
          <ion-icon name="md-clipboard"></ion-icon>
        </button>
        <button ion-button icon-only large color="white"
          (click)="showDefinitionForm()">
          <ion-icon name="md-add"></ion-icon>
        </button>
        <button ion-button icon-only large color="white"
          (click)="showOptions()">
          <ion-icon name="md-options"></ion-icon>
        </button>

      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-menu [content]="content" id="result-list">

    <ion-toolbar color="light">
      <ion-searchbar
        animated
        [(ngModel)]="searchedWord"
        (keyup)="onInput($event)"
      ></ion-searchbar>
    </ion-toolbar>

    <ion-content>
      <ion-list padding-bottom>
        <word-item
          *ngFor="let wd of results"
          [class.selected]="wd === selectedResult"
          [word]='wd'
          (click)="onSelectWord(wd)">
        </word-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-content class="main" #content main>
    <word-details *ngIf="selectedResult" [word]="selectedResult"></word-details>
  </ion-content>
</ion-split-pane>
