word-item.selected ion-item{
  background-color: rgba(94, 125, 155, 0.3);
}

word-item:hover ion-item{
  background-color: rgba(94, 125, 155, 0.1);
}

item-inner{
  background-color: inherit;
}

.edit-button, .add-button{
  margin: auto;
}
