// ion-searchbar{
//   width: 300px;
// }

// #result-list{
//   margin-top: 50px;
// }

word-item.selected ion-item{
  background-color: rgba(94, 125, 155, 0.3);
}

word-item:hover ion-item{
  background-color: rgba(94, 125, 155, 0.1);
}

item-inner{
  background-color: inherit;
}


// div.definition{
//   border-left: 10px color($colors, accent-color) solid;
// }

.edit-button, .add-button{
  margin: auto;
}

// ion-menu ion-content{
//   margin-top: 53px;
// }
