<form class="edit-form" [formGroup]="wordForm">
  <ion-list>

    <ion-item>
     <ion-label stacked>Word</ion-label>
     <ion-input type="text" formControlName="word"></ion-input>
   </ion-item>

   <ion-item>
    <ion-label stacked>Kana</ion-label>
    <ion-input type="text" formControlName="kana"></ion-input>
    </ion-item>

    <ion-item>
       <ion-label stacked>Translation</ion-label>
       <ion-input type="text" formControlName="translation"></ion-input>
    </ion-item>
    <!-- Tags Selection -->
    <ion-item>
      <ion-label><small>Tags</small></ion-label>
      <ion-select multiple="true" [compareWith]="tagsControl" formControlName="tags">
       <ion-option *ngFor="let tag of TAGS, let i=index" [value]="tag">{{tag.title}}</ion-option>
      </ion-select>
    </ion-item>
    <!-- End Tags Selection -->

    <!-- Definitions form array-->
    <ion-item-group formArrayName="definitions">

      <!-- repeated definitions templates -->
      <div *ngFor="let definition of definitions.controls; let i=index" [formGroupName]="i">

      <ion-item-divider color="light">Definition #{{i + 1}} <ion-icon name="close" (click)="removeDefinition(i)"></ion-icon></ion-item-divider>
        <ion-item>
           <ion-label stacked>Content</ion-label>
           <ion-input type="text" formControlName="content"></ion-input>
        </ion-item>

        <ion-item>
           <ion-label stacked>Source</ion-label>
           <ion-input type="text" formControlName="source"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label><small>Language</small></ion-label>
          <ion-select multiple="false" formControlName="language">
           <ion-option value="english">English</ion-option>
           <ion-option value="japanese">日本語</ion-option>
          </ion-select>
        </ion-item>
      </div>

      <ion-item text-center>
        <button (click)="addDefinition()" ion-button type="button" color="accent-color" outline>
          add a definition
        </button>
      </ion-item>
      <!-- end repeated definitions templates -->
    </ion-item-group>
     <!-- End Definitoion Form array -->

    <!-- form buttons -->
     <ion-item text-end block>
       <button ion-button icon-left medium
        color="secondary-text-color" outline
        (click)="revert()">
         <ion-icon name="md-refresh"></ion-icon>Revert
       </button>

       <!-- Save local button -->
       <button ion-button icon-left medium
        color="secondary-text-color" outline
        (click)="onSaveLocal()">
         <ion-icon name="arrow-down"></ion-icon>Save Local
       </button>

       <!-- Add to jitt button -->
       <button ion-button icon-left medium color="primary-color-dark" outline
       (click)="onSubmit()">
         <ion-icon name="heart"></ion-icon>Add to jitt
       </button>
     </ion-item>
    <!-- end form buttons -->
     <!-- wordForm logs -->
     <!-- <ion-item>
       <p>Form value: {{ wordForm.value | json }}</p>
       <p>Form status: {{ wordForm.get('tags').value | json}}</p>
     </ion-item>　-->
     <!-- end wordForm logs -->
  </ion-list>
</form>
