<ion-split-pane >
  <ion-header>
   <ion-navbar>
     <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
       Collaboration
     </ion-title>
     <!-- collaboration menu -->
    <ion-buttons end>
      <button ion-button icon-only large rounded outline color="white"
        (click)="toggleContinueLater()">
          <!-- <ion-badge>{{continueLatersTotal}}</ion-badge> -->
          <ion-icon name="logo-buffer" [isActive]=" showContinueLater"></ion-icon>
      </button>

      <button ion-button icon-only large rounded outline color="white" (click)="showUserDetails()">
        <ion-icon name="md-information-circle"></ion-icon>
      </button>
    </ion-buttons>
     <!-- End collaboration menu -->
   </ion-navbar>
 </ion-header>

 <ion-menu [content]="content" id="menu">
     <ion-toolbar color="light">
       <!-- field to add new words -->
       <ion-item class="add-bar" fixed-top>
          <ion-input [(ngModel)]="inputWord" type="text" placeholder="Add word..." (keyup)="onKeyUp($event)"></ion-input>
          <button ion-button item-end (click)="addToEditList()">
            <ion-icon name="md-add"></ion-icon>
          </button>
        </ion-item>
      <!-- /End field to add new words -->
     </ion-toolbar>

   <ion-content>
     <!-- editList -->
     <ion-list>
       <button class="word-button" ion-item
         *ngFor="let editWord of editList" block
         [class.selected]="editWord === editingWord"
         (click)="onSelectEditingWord(editWord)"
         [hidden]="editWord.isHidden"
       >
         {{editWord.word}}
         <!--
           //TODO: link the color of these icons to editWord.isAllFilled and has been touched
           <ion-icon name="create" item-end color="primary"></ion-icon>
           <ion-icon name="checkmark" item-end color="primary-light"></ion-icon>
         -->
         <ion-icon name="md-close" (click)="confirmRemoval(editWord)" item-end color="secondary-text-color"></ion-icon>
       </button>
     </ion-list>
    <!-- /End editList -->
   </ion-content>
 </ion-menu>


 <ion-content #content main padding>
    <word-form *ngIf="editingWord || editList[0]" [wordInput]="editingWord || editList[0]" (onUpdatedWordInput)="onUpdatedWordInput($event)"></word-form>
 </ion-content>

</ion-split-pane>
